# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build artifacts
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables (IMPORTANT: Do not commit these)
.env*.local
.env

# Vercel specific
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing (if using Jest/Cypress)
/coverage
/cypress/videos
/cypress/screenshots

# OS metadata
.DS_Store
*.pem
